.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.leftPanel {
    width: 27%;
    background-color: #484444;
    padding: 0.7cm;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightPanel {
    width: 73%;
    padding: 0.7cm;
}